@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  color: var(--clr-text);
  font-family: 'Inconsolata', sans-serif;
  line-height: 1.4;
  color-scheme: dark;

  --clr-text: #eeeeee;
  --clr-bg: #00040f;
  --clr-bg-light: #0c001a;
  --clr-accent: #0000ff;
  --clr-accent-nd: #a100ff;
}

body {
  margin-left: 20rem;
  padding: 1rem;
  background: linear-gradient(to right, var(--clr-bg) 25%, var(--clr-bg-light), var(--clr-bg) 90%);
  box-shadow: 0 0 4rem 2rem var(--clr-bg-light) inset;
  min-height: 100vh;
}

* {
  color: var(--clr-text);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

h1 {
  font-size: 2.986rem;
  font-weight: 700;
}
h2 {
  font-size: 2.488rem;
  font-weight: 500;
}
h3 {
  font-size: 2.074rem;
  font-weight: 500;
}
h4 {
  font-size: 1.728rem;
  font-weight: 500;
}
h5 {
  font-size: 1.44rem;
  font-weight: 400;
}
h6 {
  font-size: 1.2rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
}
.small {
  font-size: .833rem;
  font-weight: 400;
  opacity: .75;
}

.icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(296deg) brightness(104%) contrast(103%);
  width: 1.25rem;
  aspect-ratio: 1;
}

/* Page title */

.page-title {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 6rem;
}

.page-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 110%;
  height: .125rem;
  background: linear-gradient(270deg, var(--clr-accent-nd), var(--clr-accent), var(--clr-accent-nd));
  background-size: 200% 100%;
  animation: moveGradient 2s linear infinite;
}

/* Section title */

.section-title {
  position: relative;
  max-width: 66rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.section-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(100% + .5rem);
  width: 100%;
  height: .125rem;
  background: linear-gradient(270deg, var(--clr-accent-nd), var(--clr-accent), var(--clr-accent-nd));
  background-size: 200% 100%;
  animation: moveGradient 2s linear infinite;
}

/* Tile */

.tile {
  position: relative;
  background: var(--clr-bg);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 0;
  box-shadow: 0px 0px 2rem 1rem var(--clr-bg-light) inset;
  opacity: 0;
}

.tile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(270deg, var(--clr-accent-nd), var(--clr-accent), var(--clr-accent-nd));
  background-size: 200% 100%;
  animation: moveGradient 5s linear infinite;
  z-index: -1;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  box-sizing: border-box;
}

.animate-tile {
  animation: fadein 1s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    translate: 0 -2rem;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}


/* Primary button */

.btn-primary {
  padding: .25rem 1rem;
  background: var(--clr-accent-nd);
  border-radius: .25rem;
  border: .125rem solid var(--clr-accent-nd);
  cursor: pointer;
  background: var(--clr-accent-nd);
  transition: .125s;
  box-shadow: 0 0 1rem 1px var(--clr-bg),
              0 0 .5rem 1px var(--clr-accent-nd);
}

.btn-primary:hover {
  background: var(--clr-bg);
  box-shadow: 0 0 1rem 1px var(--clr-bg),
              0 0 .5rem .125rem var(--clr-accent-nd),
              0 0 .25rem 1px var(--clr-accent-nd) inset;
}


@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 12px;
  }
}