section.profile {
  max-width: 70rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  margin: 0 auto;
}

.profile-name > div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.profile-name > div > button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-name h4 {
  opacity: .5;
} 

.profile-name > button {
  margin-top: 1rem;
}

section.profile > img {
  border-radius: 100%;
}

main.container {
  max-width: 70rem;
  display: grid;
  padding: 3rem 0;
  grid-template-columns: repeat(auto-fit, minmax(20.3rem, 1fr));
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
}

main.container > div > section > h1 {
  font-size: 3.5rem;
  text-align: center;
}

.main-tiles {
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.3rem, 1fr));
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
}

.main-tiles > article h1 {
  color: var(--clr-accent-nd);
}